<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teste</title>
    <link rel="stylesheet" href="../static/paginaInicial.css">
</head>
<body>

<div>
    <div>
        <h2> Recomendações do dia ... </h2>
    </div>
    <div id="teste">
        <ol class="all-card">
            <li id="card-1" class="card">
                <div class="itens-card">
                    <img src="../images/img.png" width="250" class="card-img">
                    <p class="nome-prato">Prato comum</p>
                </div>
            </li>
            <li id="card-2" class="card">
                <div class="itens-card">
                    <img src="../images/img.png" width="250" class="card-img">
                    <p class="nome-prato">Prato comum</p>
                </div>
            </li>
            <li id="card-3" class="card">
                <div class="itens-card">
                    <img src="../images/img.png" width="250" class="card-img">
                    <p class="nome-prato">Prato comum</p>
                </div>
            </li>
            <li id="card-4" class="card">
                <div class="itens-card">
                    <img src="../images/img.png" width="250" class="card-img">
                    <p class="nome-prato">Prato comum</p>
                </div>
            </li>
            <li id="card-5" class="card">
                <div class="itens-card">
                    <img src="../images/img.png" width="250" class="card-img">
                    <p class="nome-prato">Prato comum</p>
                </div>
            </li>
            <li id="card-6" class="card">
                <div class="itens-card">
                    <img src="../images/img.png" width="250" class="card-img">
                    <p class="nome-prato">Prato comum</p>
                </div>
            </li>
            <li id="card-7" class="card">
                <div class="itens-card">
                    <img src="../images/img.png" width="250" class="card-img">
                    <p class="nome-prato">Prato comum</p>
                </div>
            </li>
            <li id="card-8" class="card">
                <div class="itens-card">
                    <img src="../images/img.png" width="250" class="card-img">
                    <p class="nome-prato">Prato comum</p>
                </div>
            </li>
        </ol>
    </div>
</div>

</body>
</html>