<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante Delícia</title>
    <link rel="stylesheet" href="../static/teste.css">
</head>
<body>
    <header>
        <h1>Restaurante Delícia</h1>
        <p>Sabores incríveis à sua espera</p>
    </header>
    <div class="container">
        <div class="menu-card">
            <div class="card-inner">
                <h3 class="nome-prato">Prato 1</h3>
                <img src="../images/img.png" alt="Prato 1">
                <div class="nome-preco-prato">
                    <p class="preco">Preço: R$ XX,XX</p>
                </div>
            </div>
            <div class="card-inner card-back">
                <p class="igredientes-descricao">Igredientes</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="card-inner">
                <h3 class="nome-prato">Prato 1</h3>
                <img src="../images/img.png" alt="Prato 1">
                <div class="nome-preco-prato">
                    <p class="preco">Preço: R$ XX,XX</p>
                </div>
            </div>
            <div class="card-inner card-back">
                <p class="igredientes-descricao">Igredientes</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="card-inner">
                <h3 class="nome-prato">Prato 1</h3>
                <img src="../images/img.png" alt="Prato 1">
                <div class="nome-preco-prato">
                    <p class="preco">Preço: R$ XX,XX</p>
                </div>
            </div>
            <div class="card-inner card-back">
                <p class="igredientes-descricao">Igredientes</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="card-inner">
                <h3 class="nome-prato">Prato 1</h3>
                <img src="../images/img.png" alt="Prato 1">
                <div class="nome-preco-prato">
                    <p class="preco">Preço: R$ XX,XX</p>
                </div>
            </div>
            <div class="card-inner card-back">
                <p class="igredientes-descricao">Igredientes</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="card-inner">
                <h3 class="nome-prato">Prato 1</h3>
                <img src="../images/img.png" alt="Prato 1">
                <div class="nome-preco-prato">
                    <p class="preco">Preço: R$ XX,XX</p>
                </div>
            </div>
            <div class="card-inner card-back">
                <p class="igredientes-descricao">Igredientes</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="card-inner">
                <h3 class="nome-prato">Prato 1</h3>
                <img src="../images/img.png" alt="Prato 1">
                <div class="nome-preco-prato">
                    <p class="preco">Preço: R$ XX,XX</p>
                </div>
            </div>
            <div class="card-inner card-back">
                <p class="igredientes-descricao">Igredientes</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
            </div>
        </div>
        <div class="menu-card">
            <div class="card-inner">
                <h3 class="nome-prato">Prato 1</h3>
                <img src="../images/img.png" alt="Prato 1">
                <div class="nome-preco-prato">
                    <p class="preco">Preço: R$ XX,XX</p>
                </div>
            </div>
            <div class="card-inner card-back">
                <p class="igredientes-descricao">Igredientes</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
                <p class="descricao">Descrição do prato 1. Ingredientes, sabores, etc.</p>
            </div>
        </div>
    </div>
    <script>
        const cards = document.querySelectorAll('.menu-card');

        cards.forEach(card => {
            card.addEventListener('click', () => {
                card.classList.toggle('show');
            });
        });
    </script>
</body>
</html>
